spring:
  application:
    name: messages-service

  datasource:
    url: jdbc:postgresql://postgres:5432/messages_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

      flyway:
        enabled: true
        locations: classpath:db/migration
        clean-disabled: true

server:
  port: 8088
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.portfolio: INFO

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
