spring:
  application:
    name: testimonials-service
  
  datasource:
    url: jdbc:postgresql://postgres:5432/virtual_portfolio
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8087
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.portfolio: DEBUG
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true