spring:
  application:
    name: hobbies-service
  
  datasource:
    url: jdbc:postgresql://postgres:5432/virtual_portfolio
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8086
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.portfolio: DEBUG
