spring:
  application:
    name: users-service

  datasource:
    url: jdbc:postgresql://postgres:5432/users_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true
    placeholders:
      admin_email: ${ADMIN_EMAIL:}
      admin_password_hash: ${ADMIN_PASSWORD_HASH:}
      admin_full_name: ${ADMIN_FULL_NAME:Admin User}

server:
  port: 8081
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.portfolio: INFO
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000 # 1 day in ms
